:root{
    --purple:rgb(129,64,150);
    --pink:rgb(246, 50, 146);
    --red:rgb(255, 124, 9);

    --gradient:linear-gradient(90deg,var(--purple),var(--pink));
    --gradient1:linear-gradient(90deg, var(--purple),var(--red));
    scroll-behavior:smooth;
}
html{
    font-size: 13px;
    overflow-x: hidden;
}

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border:none;
    text-transform: capitalize;
}

*::selection{
    color: #fff;
    background-color: rgb(10, 233, 58);
}

header {
    position:absolute; /* Change this from fixed to relative or static */
    top: 0;
    left: 0;
    width: 100%;
    min-height: auto;
    background: #fdfdfe;
    box-shadow: 1rem .5rem 1rem rgb(0,0,0, 0.1);
    display: flex; /*two item in a row */
    align-items: center;
    justify-content: space-between;
    z-index: 15;
    margin: 0;
    padding: 0;
}

header a.logo img{
    width : 15%;
    margin-left: 20px;
    object-fit: cover;
}
header .navbar ul{
    display: flex;
    list-style: none;

}
header .navbar ul li{
    font-family:'Times New Roman', Times, serif;
    height: 40px;
    padding: 0px 15px;
    border-radius: 20px;
}
header .navbar a{
    height: 150px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 2rem;
    margin: 0px 2px;
    color: var(--pink);
    line-height: 40px;
}
body header div{
    width : 35px;
    height: 10%;
    margin-left: 30%;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 0;
    font-family:'Courier New', Courier, monospace;
}
.animated-text {
    white-space: nowrap; 
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    animation: colorChange 10s infinite;
}
@keyframes colorChange {
    0% { color: red; }
    10% { color: rgb(255, 85, 0); }
    20% { color: green; }
    30% { color: orange; }
    40% { color: rgb(22, 113, 183); }
    50% { color: rgb(255, 0, 157); }
    60% { color: rgba(92, 92, 243, 0.438); }
    70% { color: rgb(5, 248, 203); }
    80% { color: rgb(204, 255, 0); }
    90% { color: rgb(255, 0, 102); }
    100% {color: rgb(0, 255, 51);}
}
header .navbar li:hover a{
    color: white;
}
/* header .navbar ul li:first-of-type a{
    color: white;
} */
header .navbar li:hover{
    background : var(--gradient);
}
/* header .navbar ul li:first-of-type {
    background : var(--gradient);
} */
header .navbar ul:hover > li:not(:hover){
    background: white;
}
header .navbar ul:hover > li:not(:hover) a{
    color: var(--purple);
}
header input{
    display: none;
}
header label{
    font-size: 3.1rem;
    color: var(--purple);
    cursor: pointer;
    visibility: hidden;
    opacity: 1;
}

body{
    background:white;
}
section{
    height : 110vh;
    padding:7.5rem 9% 2rem;
}
iframe {
    width: 100%;
    height: 100%;
    border: none; 
    /* Remove border around iframe */
}
.home{
    background: url('../image/images/purple.png');
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
    background-position: 0px 70px;
    
}
.image-identifier{
    width: 100%;
    height: 100%; 
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
}
.home .box-container {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    border: 1px dotted;
    border-radius: 3px;
    margin-top: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    box-shadow: 5px 5px 5px rgba(13, 13, 13, 0.5);
    /* clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 50% 100%, 0% 50%); */
    position: relative; /* Required for positioning pseudo-element */
}

.home .box-container::before {
    content: '';
    position: absolute;
    top: 10px; /* Adjust to position the shadow properly */
    right: 10px; /* Adjust to position the shadow properly */
    bottom: 10px; /* Adjust to position the shadow properly */
    left: 10px; /* Adjust to position the shadow properly */
    border-right: px solid;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #900101f7,
                1px 1px 40px #f90101f7;
}
#dynamic-texts {
    color: #0ef;
    padding-top: 5%;
    font-size: 20px;
    text-align: center;
    margin-top: 55px;
    block-size: 30%;
}
#dynamic-text {
    color: rgb(158, 6, 6);
    font-size: 22px;
    text-align: center;
    margin-top: 55px;
}

.about{
    display:flex;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* align-items: center; */
    /* justify-content: center; */
    background: url('../image/images/brown1.png') center/cover no-repeat;
    /* background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
}
.about .image img{
    margin-left: 95px;
    width: 70%;
    border-right: 5px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #904101f7,
    1px 1px 40px #fbc501f7;
    margin-top: 45px;
    height: auto;
    animation: float 3s linear infinite;
    /* animation-name: float ;
    animation-duration: 3s ;
    animation-timing-function: linear;
    animation-iteration-count: infinite; */
}
@keyframes float {
    0%,100%{
    transform: translateY(0rem);
    }
    50%{
        transform: translateY(-1.8rem);
    }
    /* 100%{
        transform: translateY(0rem);

    } */
}
.about .content h3{
    /* color: rgb(119, 4, 111); */
    color:rgb(199, 252, 8);
    margin-top: 10%;
    font-size: 30px;
    font-weight: 700;
}
.about .content h1{
    /* color: color-mix(in srgb, yellow 70%, green 100%); */
    color: rgb(8, 181, 249);
    font-size: 50px;
    font-weight: 700;
    margin:-3px 0;
}
.about .content h4{
    /* color: color-mix(in srgb, yellow 70%, green 100%); */
    color: rgb(193, 248, 12);
    font-size: 20px;
    font-weight: 700;
    margin:-3px 1px;
}
#element3{
    /* color:rgb(68, 0, 255); */
    text-decoration: none;
}
.typed-cursor {
    display: none;
}
.about .content p{
    /* color: color-mix(in srgb, red 70%, white 100%); */
    color: rgb(255, 7, 197);
    font-size: 12px;
    margin:5px 0;
}
.home-sci a{
    display: inline;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: transparent;
    /* border: 2px solid rgb(2, 253, 253); */
    border-radius: 100%;
    font-size: 26px;
    color:rgb(123, 113, 113);
    text-decoration: none;
    margin: 30px 15px 30px 0;
}
.home-sci a:hover{
    background: rgb(0, 234, 255);
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 0.8rem 3rem;
    border-radius: 5rem;
    background:var(--gradient);
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    box-shadow: 0px .5rem 1rem rgb(0,0,0,
        1);
    transition: all .3s linear;    
}
.loader {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    z-index: 1000;
  }
.btn::before{
    content:"";
    width: calc(100% + 0px);
    height: calc(100% + 0px);
    background-image:
    linear-gradient(125deg, #ff2400, #e81d1d, yellow,
    #e3e81d, #1de840, #1ddde8,
    #2b1de8, #dd00f3, #dd00f3);
    background-size: 400%;
    z-index: -1;
    animation: move 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    position: absolute;
    left: -2px;
    top: -2px;
    filter: blur(10px);
}
.btn:hover::before{
    opacity: 1;
}
@keyframes move {
    0%{
        background-position: 0 0 ;
    }
    50%{
        background-position: 200% 0;
    }
    100%{
        background-position: 0 0 ;
    }
    
}
.btn:hover{
    transform: scale(1.1);
}
.myskills{
    background: url('../image/images/brown1.png') center /cover no-repeat;
}

.heading {
    text-align: center;
    background: var(--gradient1);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3.1rem;
    padding: 1rem;
}
.myskills .box-container{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:nowrap;
    
}

#popup-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
.myskills .box-container .box{
    flex: 1 1 25rem;
    /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 30rem; */
    background: #fff;
    /* border-radius: 0.5rem; */
    /* border: 5px solid rgba(248, 4, 4, 0.1); */
    /* box-shadow: 3px solid rgba(253, 4, 4, 0.1); */
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #900101f7,
                1px 1px 40px #f90101f7;
    margin: 2rem;
    padding: 3rem 2rem;
    border-radius: .5rem;
    transition: all .2s linear;
    text-align: center;
}
.myskills .box-container .box:hover{
    animation: 3s linear 0s infinite floate ;
}

@keyframes floate {
    0%,100%{
    transform: translateY(0rem);
    }
    50%{
        transform: translateY(-1.5rem);
    }
}

.myskills .box-container .box img{
    height: 5rem;
}
.myskills .box-container .box h3{
    font-size: 2.4rem;
    color: black;
    padding: 1rem;
}


.myproject{
    background: url('../image/images/brown1.png') center /cover no-repeat;
}
.myproject .box-container{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap:nowrap;
}
.myproject .box-container .box{
    flex: 1 1 30rem;
    /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 30rem; */
    background: #fff;
    /* border-radius: 0.5rem;
    border: 6px solid rgba(253, 6, 6, 0.1);
    box-shadow: 1rem solid rgba(54, 3, 239, 0.1); */
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #0802b9f7,
                1px 1px 40px #0562c0f7;
    margin: 2rem;
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    transition: all .2s linear;
    text-align: center;
}
.myproject .box-container .box:hover{
    animation: 3s linear 0s infinite floate ;
}

@keyframes floate {
    0%,100%{
    transform: translateY(0rem);
    }
    50%{
        transform: translateY(-1.5rem);
    }
}
.myproject .box-container .box img{
    height: 8rem;
}
.myproject .box-container .box p{
    padding: 1.5px;
}
.myproject .box-container .box h3{
    font-size: 1.7rem;
    color: black;
    padding: 1rem;
}
.footer{
    background: url('../image/images/subscribe-bg.png') center/cover no-repeat;
}
.footer .box-container{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.footer .box-container .box{
    flex: 1 1 25rem;
    margin:2rem;
}
.footer .box-container .box h3{
    font-size: 2.5rem;
    padding: 1 rem 0px;
    color: #fff;
    text-decoration: underline;
    text-underline-offset: 1rem;
}

.footer .box-container .box p{
    font-size: 1.5rem;
    padding: .5rem 0px;
    color:#eee;
}
.footer .box-container .box a{
    margin-top: 7px;
    display: block;
    font-size: 1.7rem;
    padding: .5rem 0px;
    color:#eee;
}
.footer .box-container .box .info i{
    margin-top:15px;
    margin-left: 1rem;
    border-radius: 50%;
    background: white;
    color: var(--pink);
    font-size: 1.5rem;
    height: 3rem;
    width: 3rem;
    line-height: 3rem;

}

.footer .credit{
    font-size: 2.1rem;
    font-weight: normal;
    letter-spacing: .1rem;
    color: white;
    border-top: .1rem solid #fff5;
    text-align: center;
    padding: 1.2rem 1rem;
}
.text-animation {
    display: inline-block;
    position: relative;
    color: #333; /* Default text color */
    transition: color 0.3s ease; /* Smooth color transition */
  }
  
  .text-animation::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #007bff; 
    visibility: hidden;
    transform: scaleX(0); 
    transition: all 0.3s ease;
  }
  
  .text-animation:hover::before {
    visibility: visible;
    transform: scaleX(0.3); 
  }
  
  .text-animation:hover {
    color: #007bff; 
  }
  #scale-up:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease; /* Smooth transition */
  }

.headings{
    text-align: center;
    background: var(--gradient1);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 2.7rem;
    padding: 0px;
}
@media(max-width:1200px){
    html{
          font-size: 60%;
    }
}
@media(max-width:990px){
    section{
        padding: 7.5rem 3% 2rem;
    }
}

@media(max-width:840px){
    header .animated-text{
        text-align: center;
    }
    header label{
        margin-right: 20px;
        visibility: visible;
        opacity: 1;

    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0%;
        background-color: #fff;
        width: 100%;
        border-top: 0.1 rem solid rgba(0, 0, 0, 1);
        padding: 1rem 2rem;
        box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 1);
        transform-origin: top;
        transform: scale(0);
        opacity: 0;
        transition: 0.2s linear;
        
    }
    header .navbar ul{
        flex-direction: column;
    }
    header input:checked ~ .navbar{
        transform: scale(1);
        opacity: 1;
    }
    header input:checked ~ label::before{
        content: "\f00d";
    }
    section.about#about{
        flex-direction:column-reverse;
    }
    section.about#about .image img{
        margin-top: 15px;
        margin-left:40%;
        width: auto; 
        height: 270px;
        position: relative;
        margin-bottom: 10px;
    } 
    section.about#about .content h3{
        font-size: 2.9rem;
        margin-top: 0.5px;
    }
    section.about#about .content h1{
        font-size: 4rem;
    }
    section.about#about .content p{
        font-size: 1.5rem;
    }
    
}   

@media(max-width:670px){
    section.myproject#myproject .box{
        flex-direction: column;
        width: 30px;
    }
    .home-sci a{
        font-size: 22px;
    }
    section.myproject#myproject h4,h7 {
        display: none;
    }
    section.myproject#myproject .box a{
        margin-top: 10px;
    }
    section.myskills#myskills .box   p{
        display: none;
    }

    
}

@media(max-width:488px){
    .btn{
        font-size: 15px;
    }
}
@media(max-width:545px){
    section.about#about p{
        display: none;
    }
    section.about#about .home-sci{
        margin-top: 1rem;
    }
}
@media(max-width:475px){
    section.myskills#myskills .box#box1{
        display: none;
    }
}